[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true
name = "Tencent Clound"

[packages]
click = "*"

[dev-packages]
setuptools = "*"
twine = "*"
"flake8" = "*"
yapf = "*"
pytest = "*"
pytest-pythonpath = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pipenv run pytest tests -svv --cov=get_version --cov-report=xml --cov-report=html"
report = "open htmlcov/index.html"
lint = "pipenv run flake8"
