[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true
name = "Tencent Clound"

[packages]
click = "*"

[dev-packages]
setuptools = "*"
twine = "*"
"flake8" = "*"
yapf = "*"
pytest = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.7"
